@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    -ms-overflow-style: none;
}
::-webkit-scrollbar {
    display: none;
}


html {
  scroll-behavior: smooth;
}

.swiper-scrollbar {
  background-color: #2C2C35!important;
  margin-top: 24px;
}


.swiper-scrollbar .swiper-scrollbar-drag {
    background-color: #2bffb1!important;
 
}
.swiper-slide{
    padding-bottom: 16px;
}

.swiper-slide:nth-child(2n) {
    width: 15rem;
}
.swiper-slide:nth-child(2n+1) {
  width:15rem; 
}

.swiper-wrapper {
  margin-right: auto;
}
.swiper {
    margin-left: 20px!important;
}